_build/
*.DS_Store
_build/

Debug-appletvos/
Debug-appletvsimulator/
Release-appletvos/
Release-appletvsimulator/
BUILD/
Debug-iphoneos/
Debug-iphonesimulator/
MinsizeRel-appletvos/
MinsizeRel-appletvsimulator/
MinsizeRel-iphoneos/
MinsizeRel-iphonesimulator/
RelWithDebugInfo-appletvos/
RelWithDebugInfo-appletvsimulator/
RelWithDebugInfo-iphoneos/
RelWithDebugInfo-iphonesimulator/
Release-iphoneos/
Release-iphonesimulator/
